<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} </title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <div id="padding"></div>
        {% block content %}{% endblock %}
    </body>
</html>