{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/game.css') }}" type="text/css" />
    <script type="text/javascript">
        //Test for old browsers:
        var canvas = document.createElement("canvas");
        if (!canvas.getContext) {
            window.location.href = "{{ url_for('.update_browser') }}";
        }
        
    </script>
    <h2>Welcome to this study!</h2>
    <div class="centertwo">
        <p>Thank you for taking the time to participate in this study.
            When you continue, you will see a rational agent, shown as a smiley, navigating
            in his home, a place it knows well.</p>

            This picture shows the outline of the agent's home: <br>
            <img src="{{ url_for('.static', filename='images/maze{}.png'.format(mazeNr)) }} " 
            alt="maze"
            width="500" height="400"> <br>
            The green squares indicate 3 bookshelves in the house of the agent. 

            A friend brought a Blue book
            <img src="{{ url_for('.static', filename='images/target2.png') }} " 
            alt="target2"
            width="20" height="20"> 
            and placed it in one of the three bookshelves in the agent's house.

        <p>
            Currently, the agent is in urgent need of the book and tries to get it 
            as quickly as possible. 
        </p>

        <h4>What you have to do:</h4>

        <p>While you are observing the agent, you will be asked to predict the action you expect the agent to perform next.
            {% if user.condition.vision == "memory" %}
            You will only be able to see if the book is in a bookshelf after the agent has checked the bookshelf, i.e. was able to see the bookshelf.
            {% endif %}
        </p>
    </div>
    <p> 
        {% if user.crowdFlower %}
    
            {% if not user.crowdID %}
                <div> 
                    <form action="" method="post" name="crowdflower_id">
                        {{ form.hidden_tag() }}
                        <p>
                            Please enter your Mechanical Turk ID before you start: <br>
                            {{ form.crowdID }}<br>
                            {% for error in form.crowdID.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}<br>
                        </p>
                        <p><input type="submit" value="Start" class="button"></p>
                    </form>
                </div>
            {% else %}
                <div> As you already inserted your Mechanical Turk ID, you can start by pressing here:
                    <input type="button" class="button" onclick="window.location.href='{{ url_for('.game') }}';" value="Start"/>
                </div>
                
            {% endif %}

        {% endif %}
        
       
    </p>


    <p>
        <div class="disclaimer">
        <b>Disclaimer: </b>
        By clicking the <i>Start</i> button, you agree to us collecting your responses to the following questions anonymously.
        {% if user.crowdFlower %}
        We will only ask you for your MTurk ID in order to control your completion of the HIT.
        {% endif %}
     </div>  
    </p>
{% endblock %}
