#padding{
    height: 15pt;        
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.col1 {
    text-align: left;
    grid-area: 1 / 1 / 2 / 2;
}
.col2 {
    grid-area: 1 / 2 / 2 / 3;
}
.col3 {
    grid-area: 1 / 3 / 2 / 4;
}

.canvas {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.agentcanvas{
    z-index: 1;        
}

.gamecanvas {
    z-index: 0;        
}

#canvasDiv { 
    position:relative;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
}

#confirmBtn {
    margin-top: 10px;
}

#descriptionDiv {
    display: flex;
    z-index: 2;  
    background-color: rgba(0,0,0,0.85);
    color: white;   
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    flex-flow:column;
}

.centertwo {
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-flow:column;
}

.inline {
    display: inline;
}

.block {
    margin: 4px;
}

#game {
      position:relative;  
 }


#top {
      text-align: center;   
 }

.center {
      position:relative;
      text-align: center;   
 }

#middle {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .button {
    background-color: lightgray; 
    width: 20%; 
    font-size: 120%;
    border-radius: 6px;
}

 .flex {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-content: space-between;
    vertical-align: middle;
}



.flexItem {
    margin-left: 20px;
    margin-right: 20px;  
    display: flex;
    align-items: center;
    
}

input[type="radio"] {
  margin-top: -1px;
}

.left {
    max-width:7%;
    flex: 1 100%;
}

.right {
    max-width:7%;
    flex: 1 100%;   
}

.ctrl {
       width:8%;
       height: 30pt;
       z-index: 2;  
       font-size:2.5vmin;
       margin: 20px;
}

.wide {
       
       width: 40%;
}

.high {
       height: 60%;
}

.hidden {
    display: none !important;        
}

.warn {
     color: red;
}

#queryDiv {
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

#checkGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      
}

.rowElem {
    padding: 10px;        
        
}

#instructionDiv {
    display: flex;
    z-index: 2;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

#interactBtn {
    position:absolute;
    top: 0;
    right:15%;   
        
}

#feedback {
    display: flex;      
    flex-direction: column;
    align-items: center;
}

#comment {
    margin-top: 20px;
    width: 60%;        
}

label {
    display: flex;        
}

#instructionDiv {
    width: 100%
}

.disclaimer {
    font-size: 90%
}