{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/game.css') }}" type="text/css" />
    <script type="text/javascript">
        //Test for old browsers:
        var canvas = document.createElement("canvas");
        if (!canvas.getContext) {
            window.location.href = "{{ url_for('.update_browser') }}";
        }
        
    </script>
    <h2>Welcome to this study!</h2>
    <div class="centertwo">
        <p>Thank you for taking the time to participate in this study.
            When you continue, you will see a rational agent, shown as a smiley, navigating
            in his home, a place it knows well.</p>

            This picture shows the outline of the agent's home: <br>
            <img src="{{ url_for('.static', filename='images/maze{}.png'.format(mazeNr)) }} " 
            alt="maze"
            width="500" height="400"> <br>
            The green squares indicate 3 bookshelves in the house of the agent. 

            A friend brought two special books for the agent, one depicted as a Red book
            <img src="{{ url_for('.static', filename='images/target1.png') }} " 
            alt="target1"
            width="20" height="20">
            and one depicted as a Blue book
            <img src="{{ url_for('.static', filename='images/target2.png') }} " 
            alt="target2"
            width="20" height="20"> 
            and placed them in different bookshelves in the agent's house. 
            
        <p>
            Currently, the agent is only interested in one of the two books and tries to get it 
            as quickly as possible. 
        </p>

        <h4>What you have to do:</h4>

        <p>While you are observing the agent, you will be asked to predict the agent's desired
            book as well as the action you predict it to perform next.
            {% if user.condition.vision == "memory" %}
            You will only be able to see if a particular book is in a bookshelf after the agent has checked the bookshelf.
            {% endif %}
        </p>
    </div>
    <p> <a href="{{ url_for('.game') }}">Continue</a> </p>
{% endblock %}
