{% extends "base.html" %}
{% block content %}
    <h1>Thank you for participating! </h1>
    {% if user.crowdFlower %}
    
        {% if not user.crowdID %}
            <div> 
                <form action="" method="post" name="crowdflower_id">
                    {{ form.hidden_tag() }}
                    <p>
                        Please enter your Mechanical Turk ID to get the required code: <br>
                        {{ form.crowdID }}<br>
                        {% for error in form.crowdID.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}<br>
                    </p>
                    <p><input type="submit" value="Submit"></p>
                </form>
            </div>
        {% else %}
            <div> You can use this code to complete the HIT on Mechanical Turk: {{ crowdFlowerKey }} </div>
        {% endif %}
        
    {% elif user.sonaID and lottery %}
        <div> You have been automatically entered into the lottery for the Amazon giftcard
        through our participation system.</div>
    {% elif not added and lottery%}
        <div> 
            <form action="" method="post" name="register_email">
                {{ form.hidden_tag() }}
                Provide your email if you want to be entered into the
                lottery for the Amazon giftcard. 
                <p>
                    Please enter your email address: <br>
                    {{ form.email }}<br>
                    {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}<br>
                </p>
                <p><input type="submit" value="Register"></p>
            </form>
        </div>
    {% endif %}
    
    {% if added and lottery %}
        <div>Your email address has been added to the lottery. Good luck.</div>
    {% endif %}
{#    
    {% if not user.crowdFlower and not user.sonaID %}
        <div>Please consider registering at out participation system, so that you can get
        notified about other studies run by our group at:
        <a href="https://bielefeld-scs.sona-systems.com">https://bielefeld-scs.sona-systems.com</a>
        </div>
    {% endif %}
#}
    <div> If you have any feedback you can contact me at <a href="mailto:jpoeppel@techfak.uni-bielefeld.de">jpoeppel@techfak.uni-bielefeld.de</a>. <div>
{% endblock %}