{% extends "base.html"%}
{% block content %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/game.css') }}" type="text/css" />
    <script type='text/javascript' > 
        var socketPath = "{{ socket_path }}"; 
    </script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/game.js') }}"></script>
    <div id="game">
        <div id="middle">
            <div id="canvasDiv"></div>
        </div>
        <div id="bottom" class="center">
            
            <div id="container" class="hidden">
                <div id="check_reminder" class="warn hidden">
                    <strong>Please answer all questions before continuing.</strong>
                </div>
                <p class="itemTop">Please answer the following question: </p>
                <div id="questionContainer" class="">
                </div>
                <input id="confirmBtn" type="button" onclick="confirm()" class="button ctrl" value="Submit"/>
            </div>
            <input id="finishBtn" type="button" onclick="finish()" value="Finish" class="hidden">
        </div>
    </div>
    <div id="instructionDiv">
            Please watch the recording carefully so that you will be able to predict the agent's next action. 
            Press the Start button to begin.
    </div>
    <div class="center">
        <input id="startBtn" type="button" onclick="start()" value="Start" class="button ctrl {{'hidden' if start_hidden}}">
    </div>
{% endblock %}
